body {
  margin: 0;
  font-family: "Helvetica", "Arial";
}

header {
  margin: 0;
  margin-bottom: 30px;
  padding: 15px;
  background: #961913;
  background: linear-gradient(#961913, #7f1510);
}

header h1 {
  margin: 0;
  color: white;
}

main {
  margin: 1em;
}

div.editor {
  float: left;
  width: 55%;
}

div.datapreview {
  float: left;
  width: 35%;
  height: 600px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin: 15px;
  padding: 30px;
  border: solid 1px #888;
  background-color: #eee;
}

input.post-title-input {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
}