div.editor {
  float: left;
  width: 55%;
}

div.datapreview {
  float: left;
  width: 35%;
  height: 600px;
  overflow-y: scroll;
  overflow-wrap: break-word;
  margin: 15px;
  padding: 30px;
  border: solid 1px #888;
  background-color: #eee;
}

input.post-title-input {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
}