<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/album-images.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/posts.css">
    <link rel="stylesheet" href="styles/post.css">
    <link rel="stylesheet" href="styles/alert.css">
    <link rel="stylesheet" href="styles/tag-input.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cmsApp">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

    <!-- Add your site or application content here -->
    <header>
      <a href="{{basepath}}" class="logo">
        <img class="logo" ng-src="images/logo.png" alt="MST Logo" />
        <h1 class="logo">MST CMS</h1>
      </a>
      <section>
      <label>{{ user.name }}</label>
      <img ng-show="user.avatar_url" ng-src="{{ user.avatar_url }}" alt="{{ user.login  }}">
    </section>
    </header>
    <main ng-view>
    </main>
    <footer>
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()" >
      {{alert.msg}}
      <a ng-click='alert.detail()'>Detalhes</a>
      </alert>
    </footer>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ckeditor/ckeditor.js"></script>


    <!-- build:js scripts/modules.js -->
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/js-yaml/js-yaml.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.js"></script>
    <script src="bower_components/angular-elastic/elastic.js"/></script>
    <script src="bower_components/angular-img-fallback/angular.dcb-img-fallback.min.js"/></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/post.js"></script>
    <script src="scripts/controllers/upload.js"></script>
    <script src="scripts/controllers/save-modal.js"></script>
    <script src="scripts/controllers/loading-modal.js"></script>
    <script src="scripts/controllers/posts.js"></script>
    <script src="scripts/controllers/auth.js"></script>
    <script src="scripts/services/oauth.js"></script>
    <script src="scripts/directives/ck-editor.js"></script>
    <script src="scripts/directives/upload.js"></script>
    <script src="scripts/directives/selectonfocus.js"></script>
    <script src="scripts/services/lodash.js"></script>
    <script src="scripts/services/image.js"></script>
    <script src="scripts/services/formdataobject.js"></script>
    <script src="scripts/services/post.js"></script>
    <script src="scripts/services/gitrepository.js"></script>
    <script src="scripts/services/util.js"></script>
    <script src="scripts/services/jsyaml.js"></script>
    <script src="scripts/filters/start-from.js"></script>
    <script src="scripts/services/alert.js"></script>
    <script src="scripts/services/user.js"></script>
    <!-- endbuild -->
  </body>
</html>
