/*Images*/

#albumImage {
  width: 70%;
  float: left;
  margin-top: 10px;
}


#thumbWrapper {
  height: 310px;
  width: 100%;
  overflow: auto;
  margin-top: 10px;
}

#thumbList {
  height: 310px;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;

  img {
    height: 100px;
    width: 100px;
  }

  li {
    list-style-type: none;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
    float: left;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;

    & + li {
      margin-left: 10px;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

.imageURL {
  width: 100%;
  margin-top: 15px;
  border: none;
}
