header {
  width: 100%;
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  padding: 15px;
  background: #961913;
  background: linear-gradient(#961913, #7f1510);

  h1 {
    margin: 0;
    color: white;
  }

  & > section {
    display: block;
    text-align: right;
    float: right;
    width: 50%;

    & > label {
      color:#ffffff;
    }

    & > img {
      padding: 4px;
      line-height: 1.42857143;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      display: inline-block;
      max-width: 100%;
      height: 60px;
    }
  }
}
