body {
  margin: 0;
  font-family: "Helvetica", "Arial";
}

main {
  margin: 1em;
}

.imageURL {
  width: 100%;
  margin-top: 15px;
  border: none;
}

#coverImage {
  height: 100px;
  border-style: solid;
  border-width: 2px;
}

a.logo {
  text-decoration: initial;
}

img.logo {
  display: inline-block;
  height: 60px;
  vertical-align: bottom;
}

h1.logo {
  display: inline;
  vertical-align: bottom;
  margin: 0;
  margin-left: 5px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -4px;
  text-shadow: 2px 2px black;
}

/* ckeditor */
p.ckeditor {
  border-bottom-style: inset;
  padding-bottom: 63px;
  border-radius: 12px;
}

p.status {
  color: brown;
  border-style: dashed;
  text-align: center;
  margin: 0 40% 0 40%;
  border-width: 2px;
  padding: 5px;
}

p.actions{
  text-align: right;
}

a.cancel{
  margin: 0 3% 0 45px;
}

[ng-cloak]
{
  display: none !important;
}

textarea.warn {
  background-color: #ffbbbb;
}

textarea.nowarn {
  background-color: '';
}