section.post {
  & > form {
    .sessions {
      float: left;
      width: 28%;
      margin-right: 15px;
    }

    .editor {
      float: left;
      width: 70%;
    }

    .ng-invalid-required {
      border-color: #a94442;
      border-style: solid;
      border-width: thin;
    }
  }
}
