section.post {
  .title {
    .inputs {
      width: 90%;
      float: left;
    }
    .buttons {
      width: 9%;
      float: left;
    }
  }

  .popover {
    width: 300px;
    max-width: 400px;
  }

  & > form {
    .sessions {
      float: left;
      width: 28%;
      margin-right: 15px;
    }

    .editor {
      float: left;
      width: 70%;
    }

    .status {
     color: brown;
     border-style: dashed;
     text-align: center;
     margin: 0 40% 0 40%;
     border-width: 2px;
     padding: 5px;
    }

    .error-summary {
     color: brown;
     border-style: solid;
     text-align: center;
     border-width: 2px;
     padding: 5px;
     border-radius: 6px;
     margin: 0 30% 10px 30%;
    }
  }
}
