<div id="albumImage" ng-controller="UploadCtrl">
  <div>
    <label for="imgFile">Imagem: </label>
    <input id="imgFile" type="file" upload file="file" />

    <div id="header">
      <input id='currentURL' class='imageURL' select-on-focus type="text" value="{{currentImage.image}}"></input>
    </div>

    <div id="thumbWrapper">
      <ul id="thumbList">
        <li ng-repeat="image in images" >
          <img ng-src="{{image.thumbnail}}" alt="{{image.description}}" onClick="$('#currentURL').focus();" ng-click="setCurrentImage(image)"/>
        </li>
      </ul>
    </div>
  </div>
</div>
