<div id="alerts-container"></div>
<section class='post' ng-init='init()'>


    <form name="postForm" nonvalidate>

      <!-- TODO: Convert this DIV to a custom directive -->
      <div class="error-summary bg-warning"
        ng-show="postForm.$submitted && postForm.$invalid">
          <div ng-show="postForm.hat.$invalid">O chapéu é obrigatório.</div>
          <div ng-show="postForm.title.$invalid">O título é obrigatório.</div>
          <div ng-show="postForm.abstract.$invalid">A linha fina é obrigatório.</div>
          <div ng-show="postForm.menu_tag.$invalid">Escolha uma opção de menu.</div>
          <div ng-show="postForm.imgFile.$invalid">A imagem de capa é obrigatória.</div>
      </div>

      <section>
        <progressbar class="progress-striped active" max='1' value='1' value="dynamic" type="{{type}}" ng-show='showProgress'>
        <i ng-show="type == 'success'">Salvando</i>
        <i ng-show="type == 'info'">Carregando</i>
        <i ng-show="type == 'danger'">Ops, ocorreu um problema</i>
        </progressbar>

        <p class='actions'>
          <input id="publicar" type="checkbox"  class="btn btn-warning" ng-model='post.metadata.published'/>
          Publicar

          <input type="button" ng-disabled="showProgress" class="btn btn-warning" value="Salvar" ng-click="updatePost(post, postForm, date, time)" />
          <a href="#/posts" ng-disabled="showProgress" class="btn btn-default">Voltar</a>
        </p>
      </section>

      <section>
        <div class="sessions form">

          <div class="form-group  form-inline datepicker">
            <label class="control-label"><i class="fa fa-calendar"></i>Data e hora da noticia</label><br>
            <div class="form-group">
              <input type="text" size="10" class="form-control"
                     ng-model="post.createdTime" data-autoclose="1" placeholder="Date" bs-datepicker>
            </div>
            <div class="form-group">
              <input type="text" size="8" class="form-control"
                     ng-model="post.createdTime" data-autoclose="1" placeholder="Time" bs-timepicker>
            </div>

          </div>

          <div class="form-group">
            <label for="menu-tag" class=" control-label">Chapéu </label>
            <div >
              <input type="text" name='hat' class="form-control" ng-model="post.metadata.hat" placeholder="Informe o chapéu" required />
            </div>
          </div>

          <div class="form-group">
            <label for="menu-tag" class=" control-label">Título</label>
            <div>
              <input type="text" name='title' class="form-control" ng-model="post.metadata.title" placeholder="Informe o título" required />
            </div>
          </div>

          <div class="form-group">
            <label for="menu-tag" class=" control-label">Linha fina</label>
            <div>
              <div class="input-group">
                <textarea name='abstract' id='abstract' class="form-control" ng-model="post.metadata.support_line" placeholder="Informe a linha fina" required expand
                ng-class="{true: 'warn', false: 'nowarn'}[post.metadata.support_line.length>150]"></textarea>
                <span name="abstract-size" class="input-group-addon">
                  {{post.metadata.support_line.length}}
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="menu-tag" class=" control-label">Menu </label>
            <div>

              <select name="menu_tag"
                ng-model="post.metadata.menu"
                      ng-options="opt.value as opt.label for opt in menuTagOptions" class="form-control" required>
                <option value="">-- Nenhum --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="section" class=" control-label">Sessão </label>
            <div>
              <select  ng-model="post.metadata.section"
                      name='section'
                      ng-options="opt.value as opt.label for opt in sectionOptions" class="form-control">
                <option value="">-- Nenhuma --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="label" class=" control-label">Gênero </label>
            <div>
              <select ng-model="post.metadata.label"
                      name='label'
                      ng-options="opt.value as opt.label for opt in labelOptions" class="form-control">
                <option value="">-- Nenhuma --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="imgFile" class=" control-label">Capa </label>
            <input name="imgFile" 
                   ng-model="post.metadata.images_hd" 
                   type='text'  class="form-control"/><br/>
                   <img id='coverImage' class="img-thumbnail" ng-src="{{post.metadata.images_hd}}" alt="{{post.metadata.images_hd}}" 
                   ng-show='post.metadata.images_hd' />
          </div>

          <div class="form-group">
            <label class="control-label">Tags </label>
            <tags-input ng-model="post.metadata.tags" display-property="tag" class='tag-input' placeholder='Adicione uma Tag'>
            </tags-input>
          </div>

          <div ng-include="'views/postimages.html'"></div>
        </div>

        <div class='editor'>
          <textarea ck-editor ng-model="post.body"></textarea>
        </div>
    </form>

  <div class="datapreview" style="display:none">
    <pre>{{ post.convertContentToJekyllData() }}</pre>
  </div>
</section>
