<section class='post' ng-init='init()'>

    <form name="postForm" nonvalidate ng-show="contentLoaded">

      <!-- TODO: Convert this DIV to a custom directive -->
      <div class="error-summary bg-warning"
        ng-show="postForm.$submitted && postForm.$invalid">
          <div ng-show="postForm.hat.$invalid">O chapéu é obrigatório.</div>
          <div ng-show="postForm.title.$invalid">O título é obrigatório.</div>
          <div ng-show="postForm.abstract.$invalid">A linha fina é obrigatório.</div>
          <div ng-show="postForm.menu_tag.$invalid">Escolha uma opção de menu.</div>
          <div ng-show="postForm.imgFile.$invalid">A imagem de capa é obrigatória.</div>
      </div>

      <p class='actions'>
        <progress max="100" ng-show="showProgress"></progress>
        <input type="button" ng-disabled="showProgress" class="btn btn-warning" value="Salvar" ng-click="updatePost(post, postForm, date, time)" />
        <a href="#/posts" ng-disabled="showProgress" class="btn btn-default">Voltar</a>
      </p>

      <section>
        <div class="sessions form-horizontal">

          <div ng-include="'views/datepicker.html'" ng-controller="DatePickerCtrl" ></div>

          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" name='hat' class="form-control" ng-model="post.content.meta.hat" placeholder="Informe o chapéu" required />
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" name='title' class="form-control" ng-model="post.content.meta.title" placeholder="Informe o título" required />
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <div class="input-group">
                <textarea name='abstract' id='abstract' class="form-control" ng-model="post.content.meta.support_line" placeholder="Informe a linha fina" required expand
                ng-class="{true: 'warn', false: 'nowarn'}[post.content.meta.support_line.length>150]"></textarea>
                <span name="abstract-size" class="input-group-addon">
                  {{post.content.meta.support_line.length}}
                </span>
              </div>
            </div>
          </div>

         <div class="form-group">
            <label for="publicar" class=" col-sm-3 control-label">Publicar: </label>
            <div class="col-sm-9">
              <input id="publicar" type="checkbox"  class="btn btn-warning" ng-model='post.content.meta.published'/>
            </div>
          </div>

          <div class="form-group">
            <label for="menu-tag" class="col-sm-3 control-label">Menu: </label>
            <div class="col-sm-9">

              <select name="menu_tag" ng-model="menuTag" ng-options="opt for opt in menuTagOptions" class="form-control" required>
                <option value="">-- Nenhum --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="section" class="col-sm-3 control-label">Sessão: </label>
            <div class="col-sm-9">
              <select ng-model="section" ng-options="opt.label for opt in sectionOptions" class="form-control">
                <option value="">-- Nenhuma --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="label" class="col-sm-3 control-label">Gênero: </label>
            <div class="col-sm-9">
              <select ng-model="label" ng-options="opt.label for opt in labelOptions" class="form-control">
                <option value="">-- Nenhuma --</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="imgFile" class="col-sm-2 control-label">Capa: </label>
            <input name="imgFile" ng-model="imagesHD" type='text'  class="form-control"/><br/>
            <img id='coverImage' class="img-thumbnail" ng-src="{{imagesHD}}" alt="{{imagesHD}}" ng-show=imagesHD />
          </div>

          <div class="form-group">
            <tags-input ng-model="post.tags" class='tag-input' placeholder='Adicione uma Tag'>
            </tags-input>
          </div>

          <div ng-include="'views/postimages.html'"></div>
        </div>

        <div class='editor'>
          <textarea ck-editor ng-model="post.content.text"></textarea>
        </div>
    </form>

  <div class="datapreview" style="display:none">
    <pre>{{ post.convertContentToJekyllData() }}</pre>
  </div>
</section>
